body {
  margin: 0px;
  padding: 215px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  letter-spacing: 2%;
  color: #2196f3;
}

.logo {
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  text-align: right;
  letter-spacing: 3%;
  text-decoration: none;
}

.link1 {
  position: absolute;
  width: 49px;
  height: 16px;
  left: 453px;
  top: 32px;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 2%;
  text-decoration: none;
}

.link2 {
  position: absolute;
  width: 65px;
  height: 16px;
  left: 552px;
  top: 32px;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 2%;
  color: #212121;
}

.link3 {
  position: absolute;
  width: 59px;
  height: 16px;
  left: 679px;
  top: 32px;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 2%;
  color: #212121;
}

.link4 {
  position: absolute;
  width: 135px;
  height: 16px;
  left: 1078px;
  top: 32px;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 2%;
}

.link5 {
  position: absolute;
  width: 118px;
  height: 16px;
  left: 1263px;
  top: 32px;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 2%;
  color: #757575;
}

#all {
  position: absolute;
  width: 38px;
  height: 26px;
  left: calc(50% - 38px / 2 - 269px);
  top: calc(50% - 26px / 2 - 735px);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  cursor: pointer;
}

#website {
  position: absolute;
  width: 80px;
  height: 26px;
  left: calc(50% - 80px / 2 - 160px);
  top: calc(50% - 26px / 2 - 735px);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
}

#applications {
  position: absolute;
  width: 98px;
  height: 26px;
  left: calc(50% - 98px / 2 - 16px);
  top: calc(50% - 26px / 2 - 735px);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
}

#design {
  position: absolute;
  width: 52px;
  height: 26px;
  left: calc(50% - 52px / 2 + 116px);
  top: calc(50% - 26px / 2 - 735px);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
}

#market {
  position: absolute;
  width: 77px;
  height: 26px;
  left: calc(50% - 77px / 2 + 241.5px);
  top: calc(50% - 26px / 2 - 735px);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

#tecnoduck {
  box-sizing: border-box;
  position: absolute;
  width: 370px;
  height: 404px;
  left: calc(50% - 370px / 2 - 400px);
  top: calc(50% - 404px / 2 - 464px);
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
#picture-tecnoduck {
  position: absolute;
  width: 370px;
  height: 294px;
  left: calc(50% - 370px / 2 - 400px);
  top: calc(50% - 294px / 2 - 519px);
  background: url(.jpg);
}
#title-tecnoduck {
  position: absolute;
  width: 322px;
  height: 36px;
  left: calc(50% - 322px / 2 - 400px);
  top: calc(50% - 36px / 2 - 334px);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
  color: #212121;
}
#subtitle-tecnoduck {
  position: absolute;
  width: 322px;
  height: 30px;
  left: calc(50% - 322px / 2 - 400px);
  top: calc(50% - 30px / 2 - 297px);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 188%;
  letter-spacing: 0.03em;
  color: #757575;
}
#poster {
  box-sizing: border-box;
  position: absolute;
  width: 370px;
  height: 404px;
  left: calc(50% - 370px / 2);
  top: calc(50% - 404px / 2 - 464px);
  background: #ffffff;
  border: 1px solid #eeeeee;
}
#picture-poster {
  position: absolute;
  width: 370px;
  height: 294px;
  left: calc(50% - 370px / 2);
  top: calc(50% - 294px / 2 - 519px);
  background: url(.jpg);
}
#title-poster {
  position: absolute;
  width: 322px;
  height: 72px;
  left: calc(50% - 322px / 2);
  top: calc(50% - 72px / 2 - 316px);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
  color: #212121;
}
#subtitle-poster {
  position: absolute;
  width: 322px;
  height: 72px;
  left: calc(50% - 322px / 2);
  top: calc(50% - 72px / 2 - 316px);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
  color: #212121;
}

#restaurant {
  box-sizing: border-box;
  position: absolute;
  width: 370px;
  height: 404px;
  left: calc(50% - 370px / 2 + 400px);
  top: calc(50% - 404px / 2 - 464px);
  background: #ffffff;
  border: 1px solid #eeeeee;
}
#picture-restaurant {
  position: absolute;
  width: 370px;
  height: 294px;
  left: calc(50% - 370px / 2 + 400px);
  top: calc(50% - 294px / 2 - 519px);
  background: url(.jpg);
}
#title-restaurant {
  position: absolute;
  width: 322px;
  height: 36px;
  left: calc(50% - 322px / 2 + 400px);
  top: calc(50% - 36px / 2 - 334px);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
  color: #212121;
}
#subtitle-restaurant {
  position: absolute;
  width: 322px;
  height: 30px;
  left: calc(50% - 322px / 2 + 400px);
  top: calc(50% - 30px / 2 - 297px);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 188%;
  letter-spacing: 0.03em;
  color: #757575;
}

#headphones {
  box-sizing: border-box;
  position: absolute;
  width: 370px;
  height: 404px;
  left: calc(50% - 370px / 2 - 400px);
  top: calc(50% - 404px / 2 - 30px);
  background: #ffffff;
  border: 1px solid #eeeeee;
}
#picture-headphones {
  position: absolute;
  width: 370px;
  height: 294px;
  left: calc(50% - 370px / 2 - 400px);
  top: calc(50% - 294px / 2 - 85px);
  background: url(.jpg);
}
#title-headphones {
  position: absolute;
  width: 322px;
  height: 36px;
  left: calc(50% - 322px / 2 - 400px);
  top: calc(50% - 36px / 2 + 100px);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;

  color: #212121;
}
#subtitle-headphones {
  position: absolute;
  width: 322px;
  height: 30px;
  left: calc(50% - 322px / 2 - 400px);
  top: calc(50% - 30px / 2 + 137px);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 188%;
  letter-spacing: 0.03em;
  color: #757575;
}

#box {
  box-sizing: border-box;
  position: absolute;
  width: 370px;
  height: 404px;
  left: calc(50% - 370px / 2);
  top: calc(50% - 404px / 2 - 30px);
  background: #ffffff;
  border: 1px solid #eeeeee;
}
#picture-box {
  position: absolute;
  width: 370px;
  height: 294px;
  left: calc(50% - 370px / 2);
  top: calc(50% - 294px / 2 - 85px);
  background: url(.jpg);
}
#title-box {
  position: absolute;
  width: 322px;
  height: 36px;
  left: calc(50% - 322px / 2);
  top: calc(50% - 36px / 2 + 100px);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
  color: #212121;
}
#subtitle-box {
  position: absolute;
  width: 322px;
  height: 30px;
  left: calc(50% - 322px / 2);
  top: calc(50% - 30px / 2 + 137px);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 188%;
  letter-spacing: 0.03em;
  color: #757575;
}

#monitor {
  box-sizing: border-box;
  position: absolute;
  width: 370px;
  height: 404px;
  left: calc(50% - 370px / 2 + 400px);
  top: calc(50% - 404px / 2 - 30px);
  background: #ffffff;
  border: 1px solid #eeeeee;
}
#picture-monitor {
  position: absolute;
  width: 370px;
  height: 294px;
  left: calc(50% - 370px / 2 + 400px);
  top: calc(50% - 294px / 2 - 85px);
  background: url(.jpg);
}
#title-monitor {
  position: absolute;
  width: 322px;
  height: 36px;
  left: calc(50% - 322px / 2 + 400px);
  top: calc(50% - 36px / 2 + 100px);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
  color: #212121;
}
#subtitle-monitor {
  position: absolute;
  width: 322px;
  height: 30px;
  left: calc(50% - 322px / 2 + 400px);
  top: calc(50% - 30px / 2 + 137px);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 188%;
  letter-spacing: 0.03em;
  color: #757575;
}

#book {
  box-sizing: border-box;
  position: absolute;
  width: 370px;
  height: 404px;
  left: calc(50% - 370px / 2 - 400px);
  top: calc(50% - 404px / 2 + 404px);
  background: #ffffff;
  border: 1px solid #eeeeee;
}
#picture-book {
  position: absolute;
  width: 370px;
  height: 294px;
  left: calc(50% - 370px / 2 - 400px);
  top: calc(50% - 294px / 2 + 349px);
  background: url(.jpg);
}
#title-book {
  position: absolute;
  width: 322px;
  height: 36px;
  left: calc(50% - 322px / 2 - 400px);
  top: calc(50% - 36px / 2 + 534px);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
  color: #212121;
}
#subtitle-book {
  position: absolute;
  width: 322px;
  height: 30px;
  left: calc(50% - 322px / 2 - 400px);
  top: calc(50% - 30px / 2 + 571px);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 188%;
  letter-spacing: 0.03em;
  color: #757575;
}

#lab {
  box-sizing: border-box;
  position: absolute;
  width: 370px;
  height: 404px;
  left: calc(50% - 370px / 2);
  top: calc(50% - 404px / 2 + 404px);
  background: #ffffff;
  border: 1px solid #eeeeee;
}
#picture-lab {
  position: absolute;
  width: 370px;
  height: 294px;
  left: calc(50% - 370px / 2);
  top: calc(50% - 294px / 2 + 349px);
  background: url(.jpg);
}
#title-lab {
  position: absolute;
  width: 322px;
  height: 36px;
  left: calc(50% - 322px / 2);
  top: calc(50% - 36px / 2 + 534px);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
  color: #212121;
}
#subtitle-lab {
  position: absolute;
  width: 322px;
  height: 30px;
  left: calc(50% - 322px / 2);
  top: calc(50% - 30px / 2 + 571px);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 188%;
  letter-spacing: 0.03em;
  color: #757575;
}

#business {
  box-sizing: border-box;
  position: absolute;
  width: 370px;
  height: 404px;
  left: calc(50% - 370px / 2 + 400px);
  top: calc(50% - 404px / 2 + 404px);
  background: #ffffff;
  border: 1px solid #eeeeee;
}
#picture-business {
  position: absolute;
  width: 370px;
  height: 294px;
  left: calc(50% - 370px / 2 + 400px);
  top: calc(50% - 294px / 2 + 349px);
  background: url(.jpg);
}
#title-business {
  position: absolute;
  width: 322px;
  height: 36px;
  left: calc(50% - 322px / 2 + 400px);
  top: calc(50% - 36px / 2 + 534px);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
  color: #212121;
}
#subtitle-business {
  position: absolute;
  width: 322px;
  height: 30px;
  left: calc(50% - 322px / 2 + 400px);
  top: calc(50% - 30px / 2 + 571px);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 188%;
  letter-spacing: 0.03em;
  color: #757575;
}
#footer {
  position: absolute;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2158px;
  background: #2f303a;
}

#webstudio {
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 1688px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

#address {
  position: absolute;
  width: 231px;
  height: 21px;
  left: 215px;
  top: 1733px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

#email {
  position: absolute;
  width: 231px;
  height: 21px;
  left: 215px;
  top: 1782px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

#phone {
  position: absolute;
  width: 231px;
  height: 21px;
  left: 215px;
  top: 1812px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
